*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dk-blue: "#17153B";
  --md-blue: "#433D8B";
  --lg-blue: "#C8ACD6";

  --dk-purple: "#49243E";
  --md-purple: "#704264";
  --lg-purple: "#BB8493";

  --md-beige: "#DBAFA0";
  --lg-beige: "#ECDFCC";
  --lg-gray: "#EEEEEE";

  --lg-ice: "#DDE6ED";
}
