* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dk-blue: rgb(23, 21, 59);
  --md-blue: rgb(67, 61, 139);
  --lg-blue: rgb(200, 172, 214);

  --dk-purple: rgb(73, 36, 62);
  --md-purple: rgb(112, 66, 100);
  --lg-purple: rgb(187, 132, 147);

  --md-beige: rgb(219, 175, 160);
  --lg-beige: rgb(236, 223, 204);
  --lg-gray: rgb(238, 238, 238);

  --lg-ice: rgb(221, 230, 237);
}

body {
  background-color: var(--dk-blue);
  color: var(--lg-ice);
}
main {
  text-align: center;
  margin: 8rem auto;
}
.question-box {
  text-align: center;
  margin: 2rem auto;
  border: 2px solid var(--md-blue);
  width: 60%;
  padding: 5vh 0;
}
.section-question {
  text-align: start;
  padding: 2rem 10rem;
  color: var(--md-beige);
  font-size: 1.5rem;
}
.section-answers {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.section-answers p {
  align-self: flex-start;
  padding: 0 10rem;
  color: var(--lg-beige);
  font-size: 1.1rem;
}
.btn {
  border: none;
  background-color: var(--lg-purple);
  border-radius: 10px;
  width: 15rem;
  height: 2rem;
}
